
@{
}


<div class="container">


    <div class="row">
        <div class="col-sm">
            <div class="card border rounded-5" style="background-color: blue; color:darkcyan; width: 100%; ">
                One of three columns
            </div>
        </div>
        <div class="col-sm">
            <div class="card border rounded-5" style="background-color: blue; color: white;width: 100%;">
                One of three columns
            </div>
        </div>

        <div class="col-sm">
            <div class="card border rounded-5" style="background-color: blue;color: red;width: 100%;">
                One of three columns
            </div>
        </div>

        <div class="col-sm">
            <div class="card border rounded-5" style="background-color: blue ;color: yellow;width: 100%;">
                One of three columns
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card border rounded-5" style="background-color: blue; color:darkcyan">
                One of three columns
            </div>
        </div>
        <div class="col-sm">
            <div class="card border rounded-5" style="background-color: blue; color: white;">
                One of three columns
            </div>
        </div>

        <div class="col-sm">
            <div class="card border rounded-5" style="background-color: blue;color: red;">
                One of three columns
            </div>
        </div>

        <div class="col-sm">
            <div class="card border rounded-5" style="background-color: blue ;color: yellow;" ;>
                One of three columns
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card border rounded-5" style="background-color: blue; color:darkcyan">
                One of three columns
            </div>
        </div>
        <div class="col-sm">
            <div class="card border rounded-5" style="background-color: blue; color: white;">
                One of three columns
            </div>
        </div>

        <div class="col-sm">
            <div class="card border rounded-5" style="background-color: blue;color: red;">
                One of three columns
            </div>
        </div>

        <div class="col-sm">
            <div class="card border rounded-5" style="background-color: blue ;color: yellow;" ;>
                One of three columns
            </div>
        </div>


    </div>
</div>