@{
    ViewBag.Title = "Technologies";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ThirdMvc.UI.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="title">
        <h2><strong>Technology Stacks</strong></h2>
    </div>

    <div>

    </div>

</body>
</html>










